<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing your text</title>
    <style>
        body {
            background: rgb(13, 150, 116);
            background: linear-gradient(90deg, rgba(13, 150, 116, 1) 24%, rgba(2, 0, 36, 0.8547664182860644) 60%, rgba(0, 212, 255, 1) 100%);
        }
    </style>
</head>

<body>
    <h1>Your Analyzed text - {{ analyzed_text }}</h1>
    <h3>{{ purpose }}</h3>
    <p>{{ purpose_comptd }}</p>
</body>

</html>